html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120vh;
    width: 100%;
    margin: 0;


}

.grid-container {
    display: flex;
    box-sizing: content-box;
    border: solid 3px rgb(0, 0, 0);
    width: 80rem;
    height: 80rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    background-color: #f0f0f0;
	transition: background-color 0.5s ease-in-out;
    border: 1px solid rgba(128, 128, 128, 0.05);
}

.btn-container {
    display: flex;
    width: 80rem;
    justify-content: space-around;
    margin-top: 2.5rem;
}

button {
    font-size: 3rem;
    padding: 3rem;

}

button:hover {
    cursor: pointer;
}