html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 120vh;
    width: 100%;
    margin: 0;


}

.grid-container {
    display: flex;
    
    border: solid 3px rgb(0, 0, 0);
    width: 80rem;
    height: 80rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    border: solid 0.1rem rgb(255, 0, 0);
    transition: 0.5s;
}

.btn-container {
    display: flex;
    width: 80rem;
    justify-content: space-around;
    margin-top: 2.5rem;
}

button {
    font-size: 3rem;
    padding: 3rem;

}

button:hover {
    cursor: pointer;
}